*{
    margin: 0;
    padding: 0; 
}

body {
    background: url("../images/Bkgrnd_image6.jpg");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.534);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}  

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    box-sizing: border-box;
}

.nav .brand{
    display: flex;
    flex: 1;
    align-items: center;
       
}

.nav .brand .title{
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    color: white;


}

.nav .nav-links{
    display: flex;
    align-items: center;
}
.nav .nav-links .menu-icon{
    display: none;
}

.nav .nav-links ul{
    list-style: none;
}

.nav .nav-links ul li{
    display: inline-block;
    
}

.nav .nav-links ul li a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    transition: 0.3s all ease-in-out;
    
}

.nav .nav-links ul li a:hover{
    background-color: rgb(248, 248, 9);
    color: black;
    transition: 0.3s all ease-in-out;
}

.welcome-text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.welcome-text h1{
    text-align: center;
    color: rgb(248, 248, 9);
    font-size: 50px;
    
}

.welcome-text a{
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    color: white;

}

.welcome-text a:hover{
    background: rgb(248, 248, 9);
    color: #333;

}
















/* RESPONSIVENESS */

@media screen and (max-width:910px) {
    .nav .brand .title{
        font-size: 25px;
         
    }
}

@media screen and (max-width:845px) {
    .nav .brand .title{
        font-size: 18px;
         
    }

}

@media screen and (max-width:768px) {
    .nav .brand .title{
        font-size: 30px;
         
    }

    .nav .nav-links ul{
        display: none;
    }

    .nav .nav-links .menu-icon{
        display: block;
    }
}